---
layout: layouts/base.ejs
---

<% const commentUrl =
`https://github.com/nakleiderer/kleiderer-site/discussions/${githubDiscussionId}#new_comment_field`
const editUrl =
`https://github.com/nakleiderer/kleiderer-site/edit/master/site/${page.inputPath.split("").slice(2).join("")}`
%>

<article>
  <header class="prose prose-sm sm:prose lg:prose-lg mb-6">
    <div class="text-sm">
      <%= this.dateFns.format(new Date(date), 'LLLL d, yyyy') %>
    </div>
    <h1><%= title %></h1>
  </header>

  <section class="prose prose-sm sm:prose lg:prose-lg mb-12">
    <img class="rounded-lg" src="<%= coverImg %>" alt="<%= coverImgAlt %>" />
    <%- content %>
  </section>

  <footer class="flex-auto flex space-x-3">
    <a
      href="<%= commentUrl %>"
      target="_blank"
      class="p-2 w-1/2 flex items-center justify-center rounded-md bg-black font-semibold text-white hover:no-underline transition-shadow hover:shadow-lg"
      >Leave Comment</a
    >
    <a
      href="<%= editUrl %>"
      target="_blank"
      class="p-2 w-1/2 flex items-center justify-center rounded-md border font-semibold text-black border-gray-500 transition-shadow hover:no-underline hover:shadow-lg"
      >Suggest Edit</a
    >
  </footer>
</article>
